---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Stats from "../components/Stats.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Features from "../components/Features.astro";
import ForUniversities from "../components/ForUniversities.astro";
import CaseStudy from "../components/CaseStudy.astro";
import Screenshots from "../components/Screenshots.astro";
import FAQ from "../components/FAQ.astro";
import CTAFooter from "../components/CTAFooter.astro";
---

<Base>
  <Navbar />
  <main class="flex-1">
    <div id="home"><Hero /></div>
    <div id="problem"><Problem /></div>
    <Stats />
    <div id="how-it-works"><HowItWorks /></div>
    <Features />
    <div id="universities"><ForUniversities /></div>
    <CaseStudy />
    <div id="demo"><Screenshots /></div>
    <div id="faq"><FAQ /></div>
    <div id="contact"><CTAFooter /></div>
  </main>
</Base>
